body {
  padding-top: 75px;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
              0 4px 8px 0 rgba(0,0,0,.05);
}

#home-quote {
   background: url('../img/capas.jpg') ; 
  background-size: cover;
}

@media (max-width: 767px) {
  #home-quote .display-4{
    font-size: 2.5rem;
  }
  body {
    padding-top: 0px;
  }
  .fixed-top {
    position: relative;
  }
}

.lista-plano li + li {
  border-top: 1px solid rgba(0,0,0,.2);
}

.lista-plano li {
  padding: 1rem;
} 

.logo{
  width: 90px;
  height: 70px;
}

.img-footer{
  width: 100px;
  height: 85px;
}

.button{
  padding-top: 20px;
}

.back1{
  background: url('/img/fauna.jpg') no-repeat;
  /* background-size: cover;  */
}

.back2{
  background: url('/img/flora.jpg');
  background-size: cover;
}

.titulo2::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background: #28a745;
  margin: 10px auto;
}

.msg-erro{ 
  color: red; 
}

.margin{
  margin-top: 50px;
  border: 1px solid #28a745;
}

.marginh1{
  margin-top: 50px;
  
}

.mar{
  border-top: 1px solid #28a745;
  width: 100%;
}

/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 200px;
  background: #fff;
  border: 1px solid #22df80;

  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #22df80;
}

.pace.pace-inactive {
  display: none;
}